<template>
  <div class="header">
    <div class="top-header">
      <div class="branding">
        <div class="logo">
          <img src="../assets/logo.svg" alt="">
        </div>
        <div class="title">
          <h1>Sala Enrollment</h1>
        </div>
      </div>
      <div class="menu-icon">
        <img src="../assets/menu-icon.svg" alt="">
      </div>
    </div>
    <div class="bottom-header">
      <div class="menu">
        <a href="#">Students</a>
        <a href="#">Couses</a>
        <a href="#">Archive</a>
      </div>
    </div>
  </div>
</template>

<style scoped>
.top-header {
  display: flex;
  height: 76px;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}
.branding {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
  font-variant: small-caps;
}
.menu-icon {
  width: 28px;
}

.menu > a{
  text-decoration: none;
  font-weight: 700;
  color: #0833CB;
  font-size: 18px;
}

.menu{
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: space-around;
}

.bottom-header {
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}

@media all and (min-width: 800px) {
  .bottom-header {
    border-top: 20px solid red;
  }
}
</style>
